.names {
    display: flex;
    font-size: medium;
    margin-bottom: 2px;}
.fname {
    margin-right: 2.5px;}
.second {
    margin-left: 2.5px;}
.headline {
    font-size: x-small;}
.details {
    display: flex;
    font-size: 6px;}
.header {
    background-color: black;
    height: fit-content;
    padding: 5px;}
.F-L-Name {
    color: white;
    font-size: large;
    margin-bottom: 5px;}
.details div {
    margin: 2.5px;}
.Body {
    display: flex;
    width: initial;
    height: fit-content;
    margin: 5px;}
.left-body {
    height: inherit;
    width: 65%;
    padding: 5px;}
.right-body {
    height: inherit;
    width: fit-content;
    padding: 5px;}
.p-details-output h4 , .HEADTITLE{
    margin: 5px;
    margin-right: 0;
    font-size: 0.7rem;}
.left-body h4, .right-body h4 {
font-size: 0.7rem;}
.output , .title{
    margin-top: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(109, 100, 100);
    font-size: 0.5rem;}
.title {
    color: black;}
h5 {
    margin-right: 5px;}
.Fixed-education {
    font-size: 0.5rem;}
.Headers h4 , h5 , h6{
    font-weight: 400;}
.Headers {
    margin-bottom: 1px;}
.Sch-Cit-Date {
    display: flex;
    justify-content: space-between;
    margin: 1px;
    margin-left: 0;}
.SCNAME {
    display: flex;
    margin: 1px;
    margin-left: 0;}
h6 {
    display: flex;}
.outhead {
    font-size: 0.7rem;
    margin-bottom: 7.5px;}
.outhead:not(#EDU-title) {
    margin-top: 7.5px;}
.desc {
    color: gray;}
.skills-output .output {
    width: 80%;
    height: 0.3rem;
    background-color: black;}
.skill {
    margin-left: 5px;
    padding: 0;}
.range {
    height: inherit;
    width: 75%;
    background-color: rgb(184, 183, 183);
    border-top-right-radius: 5px;}
.Hobbies {
    margin-top: 8px;}
#cert-date-name {
    display: flex;
    align-items: center;
    justify-content: space-between;}
.PHOTO-FLNAME {
    display: flex;}
.PICTURE {
    width: inherit;
    height: 35px;
    display: flex;}
.banners-div, .personal {
    display: none;
}