body{
    overflow-x: scroll;
}
header{
    height: 10vh;
    background-color: var(--main-color);
    /* width: 100%; */
    width: 100vw;
    width: 6590px;
    background-repeat: repeat;
    position: relative;
    display: flex;
}
h1{
    color: white;
    margin: 15px;
}
table {
    width: 100vw;
    width: 6550px;

    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
    background-color: #f2f2f2;
    padding: 8px;
    border-bottom: 2px solid #ddd;
    font-weight: normal;
}

td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}
img{
    width: 50px;
    height: 50px;
}
#home_logo{
    height: inherit;
    margin: 15px 10px 10px  ;
    cursor: pointer;
}